@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./fonts/Montserrat.ttf);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

    color: #FFFFFF;
    background-color: #141414;

    overflow-x: hidden;
}

h1 {
    animation: titleAnimation 1s forwards;
}

a {
    color: inherit;
    text-decoration: none;

    transition: 1s all;
}

a:hover{
    color: #808080;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;

    animation: appearAnimation 1s forwards;
}

.nav-item
{
    display: flex;
    align-items: center;
}

.small-icon {
    width: 64px;
    height: 64px;
}

.smaller-icon {
    width: 48px;
    height: 48px;
}

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #222222;

    width: 95%;

    border-radius: 10px;

    padding: 20px;
    margin: 1%;

    animation: listAnimation 1.3s forwards;
}

.file-title {
    display: flex;
    align-items: center;
    color: #909090;
}

.form-title {
    color: #FFFFFF;
    font-size: 16px;
}

.success-text {
    color: #30de05;
    font-size: 16px;
}

.error-text {
    color: #FF0000;
    font-size: 16px;
}

input {
    margin: 10px;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    font-weight: bold;
    width: 80%;

    border: 0;
    border-radius: 10px;
    background-color: #353535;
    color: white;
}

input::placeholder{
    color: #929292;
}

input:focus {
    outline: none;
}

.button {
    letter-spacing: .1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;

    max-height: 14px;
    max-width: 100px;
    padding: 12px 20px 12px 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;

    margin: 10px
}
  
.effect01 {
    color: #fff;
    border: 4px solid #38b000;
    box-shadow: inset 0 0 0 1px #38b000;
    background-color: #38b000;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
}
  
.effect01:hover {
    border: 4px solid #70e000;
    background-color: #70e000;
    box-shadow: 0 0 25px 0 #70e000;
}
  
.effect01 span {
    transition: all .2s ease-out;
    z-index: 2;
}
  
.effect01:hover span {
    letter-spacing: .13em;
    color: #fff;
}
  
.effect01:after {
    background: #70e000;
    border: 0 solid #70e000;
    content: '';
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(.075, .82, .165, 1);
    z-index: 1;
}
  
.effect01:hover::after {
    background: #60c000;
    border: 20px solid #60c000;
    opacity: 0;
    left: 120%;
    transform: rotate(40deg);
}

.effect02 {
    color: #fff;
    border: 4px solid #FF0000;
    box-shadow: inset 0 0 0 1px #FF0000;
    background-color: #FF0000;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
}
  
.effect02:hover {
    border: 4px solid #bd0000;
    background-color: #bd0000;
    box-shadow: 0 0 25px 0 #bd0000;
}
  
.effect02 span {
    transition: all .2s ease-out;
    z-index: 2;
}
  
.effect02:hover span {
    letter-spacing: .13em;
    color: #fff;
}
  
.effect02:after {
    background: #bd0000;
    border: 0 solid #bd0000;
    content: '';
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(.075, .82, .165, 1);
    z-index: 1;
}
  
.effect02:hover::after {
    background: #ca0101;
    border: 20px solid #ca0101;
    opacity: 0;
    left: 120%;
    transform: rotate(40deg);
}

.effect03 {
    color: #fff;
    border: 4px solid #eee200;
    box-shadow: inset 0 0 0 1px #eee200;
    background-color: #eee200;
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;
}
  
.effect03:hover {
    border: 4px solid #dacf00;
    background-color: #dacf00;
    box-shadow: 0 0 25px 0 #dacf00;
}
  
.effect03 span {
    transition: all .2s ease-out;
    z-index: 2;
}
  
.effect03:hover span {
    letter-spacing: .13em;
    color: #fff;
}
  
.effect03:after {
    background: #dacf00;
    border: 0 solid #dacf00;
    content: '';
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(.075, .82, .165, 1);
    z-index: 1;
}
  
.effect03:hover::after {
    background: #d2c800;
    border: 20px solid #d2c800;
    opacity: 0;
    left: 120%;
    transform: rotate(40deg);
}

@keyframes titleAnimation {
    0% {
        transform: translateY(-110%); 
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes listAnimation {
    0% {
        transform: translateX(-10%); 
        opacity: 0;
    }
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
}

@keyframes appearAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}